<<<<<<< HEAD
=======




>>>>>>> 13be64ad3e1db5dcb02164b09ba1a3528b362cd1

/* contacto*/

.frase {
  color: #ffffff;
  font-size: 20px;
}

.contenedor2 {
  border-radius: 60px;
  background-color: #7396a090;
}


.formulario {
  width: 300px;
  height: 25px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  opacity: 0.6;
}

.nombre {
  padding-left: 35px;
  color: #ffffff;
  font-weight: bold;
}

.comentario {
  width: 300px;

  margin-left: 20px;
  border-radius: 20px;
  background-color: #fafcff;
  opacity: 61%;
}

.boton {
  height: 40px;
  background-color: #071E42;
  border: none;
  opacity: 0.8;
}


/* Registrarse */
.registro {
  font-size: 25px;
  color: #ffffff;
}